<p id="notice"><%= notice %></p>

<h3>
  <%= @issue.title %>
</h3>
<p>
  <%= @issue.description %>
</p>
<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Destroy', @issue, method: :delete, data: { confirm: 'Are you sure?' } %>
