<p id="notice"><%= notice %></p>

<h3>
  <%= @issue.title %>
</h3>
<p>
  <%= @issue.description %>
</p>
<div id="issue-<%= @issue.id %>">

<div>
  timer:
  <span class="actions">
    <%= render :partial => 'issues/actions', :locals => {:issue => @issue} %>
  </span>
</div>
  already spent time <span class="spent-time"><%= @issue.time_spent_str %></span>
</div>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Destroy', @issue, method: :delete, data: { confirm: 'Are you sure?' } %>
